html{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #222222;
    color: black;
}
h1{
    color: rgb(108, 99, 157);
    font-size: 3rem;
    word-spacing: large;
}


body {
    background-image: url('/static/Main image.jpg'); /* Replace with your image file path/URL */
    background-size: cover;      /* Scales the image to cover the entire container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the container */
    min-height: 400px;           /* Ensures the container has enough height to display the background */
    color: rgb(108, 99, 157);                /* Makes text readable against a dark background */
    padding: 20px;
}
.navbar{
    display: flex;
    gap:30 px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.navbar a:hover{
    text-decoration: underline;
    
}
