<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed Hiking Trails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="background-image"></div>
    <h1>Completed Hiking Trails</h1>
    <h2>Overcliff–Undercliff</h2>
    <h3>Wentworth Falls, NSW</h3>
    <p>

        Our intial hike as a group, completed in May 2024.<br>
        A scenic 6.3 km loop featuring stunning cliff views and lush rainforest.<br>
        Difficulty:Moderate

        
    </p>