<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hobo Robo Club Hiking Trails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="background-image"></div>
    <h1>Brought to you by ICC Sydney's Hobo Robo Club</h1>
    <h1>Please enjoy this website and find some ease in navigation below!</h1>
    <nav>
      <a href="/upcoming_trails">Check out our upcoming trails!</a><br>
      <a href="/completed_trails">See the trails we've already conquered!</a>  
    </nav>
    <h2>A group of work friends who decided that seeing each other at work wasn't enough</h2>
    <h3>Instead, we chose mutual suffering through steep elevation and long walks</h3>
    <h2>Who we are</h2>
    <p>
        Hello everyone.<br><br>
        This is ICC Sydney's Hobo Robo Club — a group of friends inspired by social media
        to start hiking together.
    </p>

    <p>
        Lucas initiated the idea after forming a deeper friendship with
        Shri, Leon, and Ellaine.
    </p>

    <h2>How it all began</h2>
    <p>
        In late May 2024, the original group completed the Overcliff–Undercliff Track
        in Wentworth Falls.
    </p>

    <p>
        From that day, we committed to continuing these hikes, with Lucas acting as
        the planner under a benevolent dictatorship disguised as democracy.
    </p>

    <h2>Why we continued</h2>
    <p>
        Mutual suffering and the chance to escape Sydney brought us together.
        We now share completed trails, photos, difficulty ratings,
        and upcoming adventures.
    </p>
    <h2>So please have a geez and look at what we have accomplished and what our next trail will be!</h2>
</body>
</html>
